html {
    box-sizing: border-box;
}


.cuadradoGrande {
    width: 400px;
    height: 400px;
    border: 2px solid black;
}
.cuadradoGrande {
    display: flex;
    justify-content: center;
}
.father {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.cuadrado1 {
    text-align: center;
    width: 125px;
    height: 125px;
    background-color: red;
}
.cuadrado2 {
    text-align: center;
    width: 125px;
    height: 125px;
    background-color: blue;
}
.cuadrado3 {
    text-align: center;
    width: 125px;
    height: 125px;
    background-color: green;
}